version: "3.7"
services:
  nodered:
    image: nodered/node-red:latest
    restart: unless-stopped
    networks:
      - system_default
      - nodered-data
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        max_attempts: 5
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=system_default"
        - "traefik.http.services.nodered.loadbalancer.server.port=1880"
        - "traefik.http.routers.nodered.rule=Host(`nodered.apps.hskrk.pl`)"
        - "traefik.http.routers.nodered.middlewares=authentik@docker"
        - "traefik.http.routers.nodered.tls=true"
        - "traefik.http.routers.nodered.tls.certresolver=myresolver"
    volumes:
      - nodered_data:/data

  temp_at:
    image: ghcr.io/hackerspacekrk/temp-at:master
    restart: unless-stopped
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 15s
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=system_default"
        - "traefik.http.services.temp_at.loadbalancer.server.port=8080"
        - "traefik.http.routers.temp_at.rule=Host(`at2.apps.hskrk.pl`)"
        - "traefik.http.routers.temp_at.tls=true"
        - "traefik.http.routers.temp_at.tls.certresolver=myresolver"
    secrets:
      - at2_mqtt_password
      - at2_oidc_client_secret
    volumes:
      - ./at2.yaml:/etc/at2.yaml:ro
      - at2_data:/data
    networks:
      - system_default

  mqtt:
    image: eclipse-mosquitto
    restart: always
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

volumes:
  nodered_data:
  frigate_data:
  frigate_recordings:
  at2_data:

networks:
  system_default:
    external: true
  nodered-data:
    external: true
  minio:
    external: true
    name: minio

secrets:
  image_render_s3_credentials:
    external: true
  zoneminder_password:
    external: true
  zoneminder_login:
    external: true
  at2_mqtt_password:
    external: true
  at2_oidc_client_secret:
    external: true
